/* profile styling */

.profile-details {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.user-details {
    color: grey;
    margin-right: 200px;
}

.user-details button {
    margin-bottom: 5px;
    padding: 10px;
    display: block;
    width: 120px;
}

.follow-container {
    text-align: center;
}

.follow-details p {
    font-size: 14px;
    padding: 7px;
    background-color: #BEBEBE;
    border: 1px #EFEFEF solid;
    border-radius: 5px;
    color: white;
    margin: 0;
}

.follow-details button {
    margin: 1px;
    background-color: #82b4d5;
}
        
.follow-button {
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    background-color: #82b4d5;
}

.follow-button:hover {
    opacity: 60%;
    cursor: pointer;
}

.follow-details {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-template-rows: 35px 35px;
    text-align: center;

}

.edit-color {
    background-color: #a382d5;
}

.add-color {
    background-color: #9dc85c;
}